footer {
	padding: 20px 0;
	margin-top: 100px;
	.footer-main {
		h3 {
			font-family: 'Montserrat';
			font-style: normal;
			font-weight: 700;
			font-size: 48px;
			line-height: 140%;
			color: #ffffff;
		}
		a {
			margin-top: 24px;
			padding: 11px 45px;

			display: inline-block;
			background: #00c642;
			border-radius: 10px;
			text-decoration: none;

			font-size: 20px;
			line-height: 140%;

			color: #ffffff;
		}
	}
	.footer-bottom {
		margin: 0 auto;
		margin-top: 80px;
		max-width: 770px;
		p {
			font-family: 'Roboto';
			font-style: normal;
			font-weight: 300;
			font-size: 20px;
			line-height: 30px;
			text-align: center;
		}
	}
}

@media (max-width: 768px) {
	footer {
		.footer-bottom {
			p {
				width: 100% !important;
			}
		}
		.footer-main {
			a {
				justify-content: center;
			}
		}
	}
}
