footer {
	background-color: #f3f8fe;
	padding: 20px 0;
	.footer-main {
		padding: 20px 40px;
		justify-content: space-between;
		p {
			font-family: 'Roboto';
			font-style: normal;
			font-weight: 500;
			font-size: 54px;
			line-height: 63px;

			color: #2d1d3f;
		}
		a {
			background: #20bf6b;
			border: 1px solid #20bf6b;
			border-radius: 10px;
			color: #fff;
			padding: 5px 7vw;
			display: flex;
			align-items: center;
			justify-content: space-around;
			text-decoration: none;
			img {
				margin-right: 10px;
			}
		}
	}
	.footer-bottom {
		p {
			font-family: 'Roboto';
			font-style: normal;
			font-weight: 300;
			font-size: 20px;
			line-height: 30px;
			/* or 150% */

			color: rgba(45, 29, 63, 0.4);
			// width: 50%;
		}
	}
}

@media (max-width: 768px) {
	footer {
		.footer-bottom {
			p {
				width: 100% !important;
			}
		}
	}
}
