.winner-table {
	// display: grid;
	// grid-template-columns: 1fr 4fr 4fr 3fr;

	.table-striped tbody tr:nth-of-type(odd) {
		background-color: #fff !important;
	}
	table {
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
		padding: 0 20px;
		border-radius: 14px;
	}
	tr {
		padding: 0 20px;
		margin: 0 20px;
	}
	thead {
		th {
			font-family: 'Roboto';
			font-style: normal;
			font-weight: 500;
			font-size: 30px;
			line-height: 70px;
			/* or 233% */

			color: rgba(0, 0, 0, 0.2);
		}
	}
	tbody {
		background: #f3f8fe;
		border: none;
		// tr {
		// 	// border: none;;
		// }
		th {
			font-family: 'Roboto';
			font-style: normal;
			font-weight: 400;
			font-size: 30px;
			line-height: 70px;
			/* or 233% */

			color: rgba(25, 25, 27, 0.3);
		}
		td {
			font-family: 'Roboto';
			font-style: normal;
			font-weight: 500;
			font-size: 28px;
			line-height: 70px;
			/* or 250% */

			letter-spacing: 3px;

			color: rgba(25, 25, 27, 0.6);
		}
	}
}
@media (max-width: 768px) {
	.winner-table {
		tr,
		th,
		td {
			font-size: 10px !important;
			line-height: 20px !important;
			letter-spacing: normal !important;
		}
	}
}

.pagination-container {
	display: flex;
	list-style-type: none;

	.pagination-item {
		padding: 0 12px;
		height: 32px;
		text-align: center;
		margin: auto 4px;
		color: rgba(0, 0, 0, 0.87);
		display: flex;
		box-sizing: border-box;
		align-items: center;
		letter-spacing: 0.01071em;
		border-radius: 16px;
		line-height: 1.43;
		font-size: 13px;
		min-width: 32px;

		&.dots:hover {
			background-color: transparent;
			cursor: default;
		}
		&:hover {
			background-color: rgba(0, 0, 0, 0.04);
			cursor: pointer;
		}

		&.selected {
			background-color: rgba(0, 0, 0, 0.08);
		}

		.arrow {
			&::before {
				position: relative;
				/* top: 3pt; Uncomment this to lower the icons as requested in comments*/
				content: '';
				/* By using an em scale, the arrows will size with the font */
				display: inline-block;
				width: 0.4em;
				height: 0.4em;
				border-right: 0.12em solid rgba(0, 0, 0, 0.87);
				border-top: 0.12em solid rgba(0, 0, 0, 0.87);
			}

			&.left {
				transform: rotate(-135deg) translate(-50%);
			}

			&.right {
				transform: rotate(45deg);
			}
		}

		&.disabled {
			pointer-events: none;

			.arrow::before {
				border-right: 0.12em solid rgba(0, 0, 0, 0.43);
				border-top: 0.12em solid rgba(0, 0, 0, 0.43);
			}

			&:hover {
				background-color: transparent;
				cursor: default;
			}
		}
	}
}
