.question-section {
	.section-header__titles {
		margin: 0 25%;
		display: flex;
		justify-content: center;
		margin-bottom: 60px;
	}
	&__link {
		div {
			font-family: 'Roboto';
			font-style: normal;
			font-weight: 400;
			font-size: 34px;
			line-height: 28px;
			text-decoration: none;
			/* identical to box height, or 82% */

			cursor: pointer;

			color: #20bf6b;
			img {
				margin-left: 7px;
			}
		}
	}
}
@media screen and (min-width: 2560px) {
	.gifts-section {
		.cards {
			padding: 0 10%;
		}
	}
}

@media screen and (min-width: 1920px) {
	.question-section {
		.section-header__titles {
			margin: 0 30%;
			display: flex;
			justify-content: center;
			margin-bottom: 60px;
		}
	}
}
