.question-section {
	margin-top: 100px;

	&__title {
		font-family: 'Montserrat';
		font-style: normal;
		font-weight: 700;
		font-size: 48px;
		line-height: 140%;
		/* or 67px */

		color: #ffffff;
	}
	&__link {
		text-align: center;

		button {
			padding: 11.5px 34.5px;
			background: #00c642;
			border-radius: 10px;
			border: none;

			font-family: 'Montserrat';
			font-style: normal;
			font-weight: 400;
			font-size: 20px;
			line-height: 140%;
			/* identical to box height, or 28px */

			color: #ffffff;
		}
	}

	#less-img {
		transform: rotate(-90deg);
	}
}

@media screen and (min-width: 1920px) {
	.question-section {
		.section-header__titles {
			margin: 0 30%;
			display: flex;
			justify-content: center;
			margin-bottom: 60px;
		}
	}
}
