.winner-section {
	margin-top: 100px;
	padding: 40px 0;

	.winner-table {
		margin-top: 60px;

		table {
			box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
			padding: 0 20px;
			border-radius: 14px;
			border: none;
		}
		tr {
			padding: 0 20px;
			margin: 0 20px;

			border-bottom: 1px solid #00c642;
		}
		thead {
			th {
				border: none;
				font-family: 'Roboto';
				font-style: normal;
				font-weight: 500;
				font-size: 30px;
				line-height: 70px;

				color: #fff;
			}
		}
		tbody {
			border: none;

			// }
			th,
			tr,
			td {
				border-top: none;
			}
		}
	}
}
@media (max-width: 768px) {
	.winner-table {
		tr,
		th,
		td {
			font-size: 10px !important;
			line-height: 20px !important;
			letter-spacing: normal !important;
		}
	}
}
