.winner-section {
	background: #f3f8fe;
	padding: 40px 0;
	.winner-table {
		// display: grid;
		// grid-template-columns: 1fr 4fr 4fr 3fr;

		.table-striped tbody tr:nth-of-type(odd) {
			background-color: #fff !important;
		}
		table {
			box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
			padding: 0 20px;
			border-radius: 14px;
		}
		tr {
			padding: 0 20px;
			margin: 0 20px;
		}
		thead {
			th {
				font-family: 'Roboto';
				font-style: normal;
				font-weight: 500;
				font-size: 30px;
				line-height: 70px;
				/* or 233% */

				color: rgba(0, 0, 0, 0.2);
			}
		}
		tbody {
			background: #f3f8fe;
			border: none;
			// tr {
			// 	// border: none;;
			// }
			th {
				font-family: 'Roboto';
				font-style: normal;
				font-weight: 400;
				font-size: 30px;
				line-height: 70px;
				/* or 233% */

				color: rgba(25, 25, 27, 0.3);
			}
			td {
				font-family: 'Roboto';
				font-style: normal;
				font-weight: 500;
				font-size: 28px;
				line-height: 70px;
				/* or 250% */

				letter-spacing: 3px;

				color: rgba(25, 25, 27, 0.6);
			}
		}
	}
}
@media (max-width: 768px) {
	.winner-table {
		tr,
		th,
		td {
			font-size: 10px !important;
			line-height: 20px !important;
			letter-spacing: normal !important;
		}
	}
}
