.card {
	background: #f7f7f7;

	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);

	border: 1px solid #e5e5e5;
	box-sizing: border-box;
	border-radius: 18px;

	padding: 0 30px;
	padding-bottom: 50px;
	margin: 3%;
	min-height: 500px;

	display: flex;
	align-items: center;
	flex-direction: column;

	&:hover {
		box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
			0 10px 10px rgba(0, 0, 0, 0.22);
		background-color: #58227a;
		h1,
		p {
			color: #fff;
		}
		h3 {
			font-size: 74px;
			color: #fff;
		}
		button {
			background-color: #20bf6b;
			color: #fff;
		}
	}

	h1 {
		padding-top: 50px;
		font-family: 'Roboto';
		font-style: normal;
		font-weight: 600;
		font-size: 24px;
		line-height: 28px;
		/* identical to box height, or 117% */
		margin-bottom: 20px;
		text-align: center;

		color: #2d1d3f;
	}
	h3 {
		font-family: 'Roboto';
		font-style: normal;
		font-weight: 800;
		font-size: 66px;
		line-height: 56px;
		/* identical to box height, or 85% */

		text-align: center;
		letter-spacing: -1.03448px;

		color: #2d1d3f;

		margin: 30px 0;
	}
	p {
		font-family: 'Roboto';
		font-style: normal;
		font-weight: 300;
		font-size: 17px;
		line-height: 20px;
		text-align: center;

		margin: 30px 0;
		color: rgba(45, 29, 63, 0.8);
	}
	button {
		background: #fff;
		border: 1px solid #732c9f;
		border-radius: 10px;

		font-family: 'Roboto';
		font-style: normal;
		font-weight: 600;
		font-size: 20px;
		line-height: 24px;
		/* identical to box height, or 120% */

		text-align: center;
		font-feature-settings: 'liga' off;

		color: #58227a;

		padding: 20px 40px;
	}
}
