.registration-section {
	&__content {
		margin-top: 150px;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		gap: 150px;
		color: #fff;
		text-align: center;

		@media (max-width: 1024px) {
			grid-template-columns: 1fr 1fr;
			gap: 100px;
		}
		@media (max-width: 768px) {
			grid-template-columns: 1fr;
			gap: 150px;
			margin-top: 150px;
		}

		&-item {
			position: relative;
		}
		&-item::before {
			position: absolute;
			top: 0;
			left: 50%;
			z-index: 30;

			display: block;
			// background-color: #00c642;
			transform: translate(-50%, -65%);
			color: #00c642;
			font-family: 'Montserrat-Bold';
			font-style: normal;
			font-weight: 800;
			font-size: 150px;
			text-align: center;
			z-index: 0;
			opacity: 0.5;
		}
		&-item:nth-child(1)::before {
			content: '1';
		}
		&-item:nth-child(2)::before {
			content: '2';
		}
		&-item:nth-child(3)::before {
			content: '3';
		}
	}
}
