nav {
	#lang {
		font-family: 'Roboto';
		font-style: normal;
		font-weight: 600;
		font-size: 16px;
		background: transparent;
		border: none;
		color: #111827;

		&:focus {
			outline: none;
		}
	}

	padding-top: 5vh;
	display: flex;
	// justify-content: center;
	align-items: center;
	.nav-links {
		display: flex;
		margin: 0 5vw;

		p {
			cursor: pointer;
			font-family: 'Roboto';
			font-style: normal;
			font-weight: 600;
			font-size: 16px;
			/* identical to box height, or 100% */

			font-feature-settings: 'liga' off;

			/* Neutral/900 */

			color: #111827;

			/* Inside auto layout */

			flex: none;
			order: 0;
			flex-grow: 0;
			margin: 0px 4px;

			margin: 0 20px;
		}
	}
}
@media (min-width: 1920px) {
	nav {
		.nav-links {
			p,
			select {
				font-size: 20px;
			}
		}
	}
}
