.main-section {
	position: relative;
	width: 100%;
	height: 100%;

	.layout {
		position: relative;
	}
	img {
		position: absolute;
		right: 0;
		top: 0;
		object-fit: cover;
	}
	div {
		position: relative;
	}
}
