.main-section {
	position: relative;
	width: 100%;
	height: 100%;
	min-height: 120vh;
	background-image: url('../../assets/mainbg.png');
	background-size: cover;
	// background-position: top;
	background-repeat: no-repeat;

	#card1 {
		position: absolute;
		top: 20%;
		right: -5%;
	}
	#card2 {
		position: absolute;
		bottom: -90%;
		right: 30%;
		width: 500px;
	}

	.layout {
		position: relative;
	}
	&__title {
		position: relative;
		width: 50%;
		margin: 25vh 5vw 0 0;

		h1 {
			font-family: 'Roboto ';

			font-style: normal;
			font-weight: 700;
			font-size: 40px;
			line-height: 45px;
			/* or 120% */

			font-feature-settings: 'liga' off;

			/* Neutral/900 */

			color: #111827;
		}
		p {
			font-family: 'Roboto';
			font-style: normal;
			font-weight: 600;
			font-size: 0.8rem;
			line-height: 1.2rem;
			/*	or 156% */

			font-feature-settings: 'liga' off;

			/* Neutral/700 */

			color: #374151;

			width: 90%;
		}
	}
	&__buttons {
		margin-top: 5vh;

		background: #ffffff;
		border: 2px solid #f3f3f3;
		box-sizing: border-box;
		border-radius: 12px;
		width: 25vw;
		padding: 10px;
		display: flex;
		button {
			background: #58227a;
			border-radius: 8px;
			color: #ffffff;
			width: 50%;
			outline: none;
			border: none;
		}
		span {
			margin-left: 1vw;
			padding: 10px;
			p {
				font-family: 'Roboto';
				font-style: normal;
				font-weight: 400;
				font-size: 16px;
				line-height: 9px;
				/* or 150% */

				font-feature-settings: 'liga' off;

				color: #58227a;
				width: 100%;
			}
		}
	}
}

@media screen and (min-width: 2560px) {
	.main-section {
		#card1 {
			position: absolute;
			top: 20%;
			right: -5%;
		}
		#card2 {
			position: absolute;
			bottom: -40%;
			right: 30%;
			width: 500px;
		}
		&__title {
			position: relative;
			width: 40%;
			margin: 25vh 5vw 0 0;

			h1 {
				font-family: 'Roboto ';

				font-style: normal;
				font-weight: 700;
				font-size: 80px;
				line-height: 92px;
				/* or 120% */

				font-feature-settings: 'liga' off;

				/* Neutral/900 */

				color: #111827;
			}
			p {
				font-family: 'Roboto';
				font-style: normal;
				font-weight: 600;
				font-size: 24px;
				line-height: 32px;
				/*	or 156% */

				font-feature-settings: 'liga' off;

				/* Neutral/700 */

				color: #374151;

				width: 80%;
			}
		}
	}
}

@media screen and (max-width: 2559px) and (min-width: 1920px) {
	.main-section {
		#card1 {
			position: absolute;
			top: 20%;
			right: -5%;
		}
		#card2 {
			position: absolute;
			bottom: -60%;
			right: 30%;
			width: 500px;
		}
		&__title {
			position: relative;
			width: 40%;
			margin: 25vh 5vw 0 0;

			h1 {
				font-family: 'Roboto ';

				font-style: normal;
				font-weight: 700;
				font-size: 60px;
				line-height: 72px;
				/* or 120% */

				font-feature-settings: 'liga' off;

				/* Neutral/900 */

				color: #111827;
			}
			p {
				font-family: 'Roboto';
				font-style: normal;
				font-weight: 600;
				font-size: 18px;
				line-height: 28px;
				/*	or 156% */

				font-feature-settings: 'liga' off;

				/* Neutral/700 */

				color: #374151;

				width: 80%;
			}
		}
	}
}
