@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

$text-color: #fff;
$main-margin: 120px;
.flex {
	display: flex;
}

.flex-c-around {
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.mtb {
	margin: $main-margin 0;
}
.mt {
	margin-top: $main-margin;
}
.mb {
	margin-bottom: $main-margin;
}

// mobile
@media screen and (max-width: 768px) {
	.section-header__titles {
		margin-bottom: 40px;
	}
	.gifts-section {
		.cards {
			padding: 0 10%;
			grid-template-columns: 1fr;
		}
		.message {
			flex-direction: column;
			text-align: center;
			.coin-title {
				h1 {
					font-size: 32px;
				}
				p {
					font-size: 14px;
				}
			}
			.coin-image img {
				right: 20%;
				transform: translateY(0);
			}
		}
	}
	.registration-section {
		.question-cards {
			grid-template-columns: 1fr !important;
			svg {
				display: none;
			}
		}
	}
	.question-section__link a {
		font-size: 24px !important;
	}
	.accordion {
		.accordion-title {
			font-size: 24px !important;
		}
		.accordion-content {
			font-size: 18px !important;
		}
	}
	footer .footer-main {
		flex-direction: column;
		text-align: center;
		button {
			width: 100%;
			justify-content: center !important;
			font-size: 20px;
		}
	}
	.footer-bottom {
		text-align: center;
	}
}
