@font-face {
	font-family: 'Montserrat-Regular';
	src: url('./assets/Fonts/Montserrat-Regular.ttf') format('truetype');
}
@font-face {
	font-family: 'Montserrat-Bold';
	src: url('./assets/Fonts/Montserrat-Bold.ttf') format('truetype');
}
@font-face {
	font-family: 'Montserrat-Medium';
	src: url('./assets/Fonts/Montserrat-Medium.ttf') format('truetype');
}
@font-face {
	font-family: 'Montserrat-SemiBold';
	src: url('./assets/Fonts/Montserrat-SemiBold.ttf') format('truetype');
}
@font-face {
	font-family: 'Montserrat-ExtraBold';
	src: url('./assets/Fonts/Montserrat-ExtraBold.ttf') format('truetype');
}
@font-face {
	font-family: 'Montserrat-Thin';
	src: url('./assets/Fonts/Montserrat-Thin.ttf') format('truetype');
}
%regular-font {
	font-family: 'Montserrat-Regular';
}
%bold-font {
	font-family: 'Montserrat-Bold';
}
%medium-font {
	font-family: 'Montserrat-Medium';
}
%semi-bold-font {
	font-family: 'Montserrat-SemiBold';
}
%extra-bold-font {
	font-family: 'Montserrat-ExtraBold';
}
%thin-font {
	font-family: 'Montserrat-Thin';
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#root {
	background-color: rgba(0, 0, 0, 1);
	overflow-x: hidden;
}
body {
	font-family: 'Montserrat-Regular';
	font-style: normal;
	font-weight: 400;
}
.custom-container {
	max-width: 1440px;
	margin: 0 9.6vw;
}

.section {
	&__title {
		font-weight: 700;
		font-size: 48px;
		line-height: 140%;
		color: #ffffff;
	}
}

// mobile
@media screen and (max-width: 768px) {
	.section-header__titles {
		margin-bottom: 40px;
	}

	.registration-section {
		.question-cards {
			grid-template-columns: 1fr !important;
			svg {
				display: none;
			}
		}
	}
	.question-section__link a {
		font-size: 24px !important;
	}
	.accordion {
		.accordion-title {
			font-size: 24px !important;
		}
		.accordion-content {
			font-size: 18px !important;
		}
	}
	footer .footer-main {
		flex-direction: column;
		text-align: center;
		button {
			width: 100%;
			justify-content: center !important;
			font-size: 20px;
		}
	}
	.footer-bottom {
		text-align: center;
	}
}
