.accordion {
	color: rgba(255, 255, 255, 1);
	.accordion-wrapper {
		margin-top: 24px;
		border: none;
		& + * {
			margin-top: 0.5em;
		}
	}

	.accordion-item {
		overflow: hidden;
		transition: max-height 0.3s cubic-bezier(1, 0, 1, 0);
		height: auto;
		max-height: 9999px;
	}

	.accordion-item.collapsed {
		max-height: 0;
		transition: max-height 0.35s cubic-bezier(0, 1, 0, 1);
	}

	.accordion-title {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 0.5em 1.5em;

		font-size: 24px;
		line-height: 140%;

		cursor: pointer;

		&::after {
			content: '+';
			width: 5%;
			height: 5%;
			margin-left: 30px;
		}

		&.open {
			&::after {
				content: '-';
				border-top: 0;
			}
		}
	}

	.accordion-content {
		padding: 0.2em 1.5em;
		font-size: 18px;
		line-height: 140%;
	}
}
